//   # Colors, font families, weights, breakpoints
// Color Variable
$color-white: #ffffff;
$color-wheat: #efd6ac;
$color-black: #04151f;
$color-gray: #183a37;
$color-lightWhite: #fefefe;
$color-purplel: #432534;
$color-mahogany: #c44900;
$color-green: #27ae60;
$color-red: #c23616;

// Font Families
$ff-main: "Lato", sans-serif;

// Font weight
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semiBold: 600;
$fw-bold: 700;
$fw-extraBold: 800;
$fw-black: 900;
